<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Alcool or Gas</title>
</head>
<body>

<h3>Álcool ou Gasolina?</h3>

<script>
  alcool = prompt("Digite o preço do alcool");

  gasolina = prompt("Digite o preco do Gasolina");

  resultado = (alcool / gasolina);

  if (resultado < 0.7)
    document.write("Abasteça com álcool.");
  else
    document.write("Abasteça com gasolinal.");

</script>

<br>

<div style='float:left'>
  <IMG
    SRC="../../img/iWaifus/Ketilem_001.png"
    alt="Ketilem">
</div>

</body>
</html>
