<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Calculadora</title>
</head>
<body>

<h3>Calculadora!</h3>

<br>

<div style='float:left'>
  <IMG
    SRC="../../img/iWaifus/Sheila_001.png"
    alt="Sheila">
</div>

<script>

  alert('Olá, está é a sua Calculadora Virtua, nela você devera colacar Dois Valores!');

  n1 = prompt("Digite o Primeiro Número");

  n2 = prompt("Digite o Segundo Número");

  ex = n1 - n2;

  document.write("Tabela da Calculadora na Forma Correta! \n", "( Ex: ", n1," - ", n2, " = ", ex, ")");

  document.write("\n", "<br>");

  document.write("\n", "<br>");

  soma = (parseInt(n1) + parseInt(n2));

  menos = (n1 - n2);

  vezes = (n1 * n2);

  dividier = (n1 / n2);

  document.write("O Valor Total da Soma é: ", soma, " ");

  document.write("\n", "<br>");

  document.write("O Valor Total da Subtração é: ", menos, " ");

  document.write("\n", "<br>");

  document.write("O Valor Total da Mutiplicação é: ", vezes, " ");

  document.write("\n", "<br>");

  document.write("O Valor Total da Divição é: ", dividier, " ");

  document.write("\n", "<br>");

  document.write("\n", "<br>");

  ex2 = n2 - n1;

  document.write("Tabela Reversa! ou Tabela Efeito Espelho! \n", "( Ex: ", n2," - ", n1, " = ", ex2, ")");

  document.write("\n", "<br>");

  document.write("\n", "<br>");

  soma2 = (parseInt(n2) + parseInt(n1));

  menos2 = (n2 - n1);

  vezes2 = (n2 * n1);

  dividier2 = (n2 / n1);

  document.write("O Valor Total da Soma é: ", soma2, " ");

  document.write("\n", "<br>");

  document.write("O Valor Total da Subtração é: ", menos2, " ");

  document.write("\n", "<br>");

  document.write("O Valor Total da Mutiplicação é: ", vezes2, " ");

  document.write("\n", "<br>");

  document.write("O Valor Total da Divição é: ", dividier2, " ");

  document.write("\n", "<br>");

</script>

</body>
</html>
