<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Tabuada</title>
</head>
<body>

<h3>Tabuada Virtual!</h3>

<br>

<div style='float:left'>
  <IMG
    SRC="../../img/iWaifus/Carol01Balao_001.png"
    alt="Carol">
</div>

<script>

  alert('Olá!, Está é a sua Tabuada Virtual, nela você devera colacar Um Número!, ' +
    'E nela você vai receber a Adicção, Subtração, Multiplicação ' +
    'e a Divisão do Número escolhido por você!');

  n1 = prompt("Digite o Número!");

  x0 = 0; x1 = 1; x2 = 2; x3 = 3; x4 = 4;

  x5 = 5; x6 = 6; x7 = 7; x8 = 8; x9 = 9;

  x10 = 10;

  document.write("Adição \n" + "\n" + "|" + "\n");

  document.write("Subtração \n" + "\n" + "|" + "\n");

  document.write("Mutiplicação \n" + "\n" + "|" + "\n");

  document.write("Divisão \n");

  document.write("\n", "<br>");

  document.write("O valor de \n" + n1 + "\n" + " + 0 \n" + "\n é: \n" + (parseInt(n1) + parseInt(x0)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " - 0 \n" + "\n é: \n" + (parseInt(n1) - parseInt(x0)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " * 0 \n" + "\n é: \n" + (parseInt(n1) * parseInt(x0)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " / 0 \n" + "\n é: \n" + (parseInt(n1) / parseInt(x0)));

  document.write("\n", "<br>");

  document.write("O valor de \n" + n1 + "\n" + " + 1 \n" + "\n é: \n" + (parseInt(n1) + parseInt(x1)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " - 1 \n" + "\n é: \n" + (parseInt(n1) - parseInt(x1)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " * 1 \n" + "\n é: \n" + (parseInt(n1) * parseInt(x1)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " / 1 \n" + "\n é: \n" + (parseInt(n1) / parseInt(x1)));

  document.write("\n", "<br>");

  document.write("O valor de \n" + n1 + "\n" + " + 2 \n" + "\n é: \n" + (parseInt(n1) + parseInt(x2)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " - 2 \n" + "\n é: \n" + (parseInt(n1) - parseInt(x2)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " * 2 \n" + "\n é: \n" + (parseInt(n1) * parseInt(x2)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " / 2 \n" + "\n é: \n" + (parseInt(n1) / parseInt(x2)));

  document.write("\n", "<br>");

  document.write("O valor de \n" + n1 + "\n" + " + 3 \n" + "\n é: \n" + (parseInt(n1) + parseInt(x3)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " - 3 \n" + "\n é: \n" + (parseInt(n1) - parseInt(x3)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " * 3 \n" + "\n é: \n" + (parseInt(n1) * parseInt(x3)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " / 3 \n" + "\n é: \n" + (parseInt(n1) / parseInt(x3)));

  document.write("\n", "<br>");

  document.write("O valor de \n" + n1 + "\n" + " + 4 \n" + "\n é: \n" + (parseInt(n1) + parseInt(x4)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " - 4 \n" + "\n é: \n" + (parseInt(n1) - parseInt(x4)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " * 4 \n" + "\n é: \n" + (parseInt(n1) * parseInt(x4)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " / 4 \n" + "\n é: \n" + (parseInt(n1) / parseInt(x4)));

  document.write("\n", "<br>");

  document.write("O valor de \n" + n1 + "\n" + " + 5 \n" + "\n é: \n" + (parseInt(n1) + parseInt(x5)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " - 5 \n" + "\n é: \n" + (parseInt(n1) - parseInt(x5)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " * 5 \n" + "\n é: \n" + (parseInt(n1) * parseInt(x5)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " / 5 \n" + "\n é: \n" + (parseInt(n1) / parseInt(x5)));

  document.write("\n", "<br>");

  document.write("O valor de \n" + n1 + "\n" + " + 6 \n" + "\n é: \n" + (parseInt(n1) + parseInt(x6)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " - 6 \n" + "\n é: \n" + (parseInt(n1) - parseInt(x6)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " * 6 \n" + "\n é: \n" + (parseInt(n1) * parseInt(x6)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " / 6 \n" + "\n é: \n" + (parseInt(n1) / parseInt(x6)));

  document.write("\n", "<br>");

  document.write("O valor de \n" + n1 + "\n" + " + 7 \n" + "\n é: \n" + (parseInt(n1) + parseInt(x7)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " - 7 \n" + "\n é: \n" + (parseInt(n1) - parseInt(x7)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " * 7 \n" + "\n é: \n" + (parseInt(n1) * parseInt(x7)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " / 7 \n" + "\n é: \n" + (parseInt(n1) / parseInt(x7)));

  document.write("\n", "<br>");

  document.write("O valor de \n" + n1 + "\n" + " + 8 \n" + "\n é: \n" + (parseInt(n1) + parseInt(x8)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " - 8 \n" + "\n é: \n" + (parseInt(n1) - parseInt(x8)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " * 8 \n" + "\n é: \n" + (parseInt(n1) * parseInt(x8)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " / 8 \n" + "\n é: \n" + (parseInt(n1) / parseInt(x8)));

  document.write("\n", "<br>");

  document.write("O valor de \n" + n1 + "\n" + " + 9 \n" + "\n é: \n" + (parseInt(n1) + parseInt(x9)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " - 9 \n" + "\n é: \n" + (parseInt(n1) - parseInt(x9)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " * 9 \n" + "\n é: \n" + (parseInt(n1) * parseInt(x9)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " / 9 \n" + "\n é: \n" + (parseInt(n1) / parseInt(x9)));

  document.write("\n", "<br>");

  document.write("O valor de \n" + n1 + "\n" + " + 10 \n" + "\n é: \n" + (parseInt(n1) + parseInt(x10)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " - 10 \n" + "\n é: \n" + (parseInt(n1) - parseInt(x10)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " * 10 \n" + "\n é: \n" + (parseInt(n1) * parseInt(x10)) + "\n" + "|" + "\n");

  document.write("O valor de \n" + n1 + "\n" + " / 10 \n" + "\n é: \n" + (parseInt(n1) / parseInt(x10)));


  document.write("\n", "<br>");

  document.write("\n", "<br>");

  document.write("Tabela Reversa! ou Tabela Efeito Espelho! \n");

  document.write("\n", "<br>");

  document.write("\n", "<br>");


  document.write("Adição \n" + "\n" + "|" + "\n");

  document.write("Subtração \n" + "\n" + "|" + "\n");

  document.write("Mutiplicação \n" + "\n" + "|" + "\n");

  document.write("Divisão \n");

  document.write("\n", "<br>");

  document.write("O valor de 0 + \n" + n1 + "\n é: \n" + (parseInt(x0) + parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 0 - \n" + n1 + "\n é: \n" + (parseInt(x0) - parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 0 * \n" + n1 + "\n é: \n" + (parseInt(x0) * parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 0 / \n" + n1 + "\n é: \n" + (parseInt(x0) / parseInt(n1)));

  document.write("\n", "<br>");

  document.write("O valor de 1 + \n" + n1 + "\n é: \n" + (parseInt(x1) + parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 1 - \n" + n1 + "\n é: \n" + (parseInt(x1) - parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 1 * \n" + n1 + "\n é: \n" + (parseInt(x1) * parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 1 / \n" + n1 + "\n é: \n" + (parseInt(x1) / parseInt(n1)));

  document.write("\n", "<br>");

  document.write("O valor de 2 + \n" + n1 + "\n é: \n" + (parseInt(x2) + parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 2 - \n" + n1 + "\n é: \n" + (parseInt(x2) - parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 2 * \n" + n1 + "\n é: \n" + (parseInt(x2) * parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 2 / \n" + n1 + "\n é: \n" + (parseInt(x2) / parseInt(n1)));

  document.write("\n", "<br>");

  document.write("O valor de 3 + \n" + n1 + "\n é: \n" + (parseInt(x3) + parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 3 - \n" + n1 + "\n é: \n" + (parseInt(x3) - parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 3 * \n" + n1 + "\n é: \n" + (parseInt(x3) * parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 3 / \n" + n1 + "\n é: \n" + (parseInt(x3) / parseInt(n1)));

  document.write("\n", "<br>");

  document.write("O valor de 4 + \n" + n1 + "\n é: \n" + (parseInt(x4) + parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 4 - \n" + n1 + "\n é: \n" + (parseInt(x4) - parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 4 * \n" + n1 + "\n é: \n" + (parseInt(x4) * parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 4 / \n" + n1 + "\n é: \n" + (parseInt(x4) / parseInt(n1)));

  document.write("\n", "<br>");

  document.write("O valor de 5 + \n" + n1 + "\n é: \n" + (parseInt(x5) + parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 5 - \n" + n1 + "\n é: \n" + (parseInt(x5) - parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 5 * \n" + n1 + "\n é: \n" + (parseInt(x5) * parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 5 / \n" + n1 + "\n é: \n" + (parseInt(x5) / parseInt(n1)));

  document.write("\n", "<br>");

  document.write("O valor de 6 + \n" + n1 + "\n é: \n" + (parseInt(x6) + parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 6 - \n" + n1 + "\n é: \n" + (parseInt(x6) - parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 6 * \n" + n1 + "\n é: \n" + (parseInt(x6) * parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 6 / \n" + n1 + "\n é: \n" + (parseInt(x6) / parseInt(n1)));

  document.write("\n", "<br>");

  document.write("O valor de 7 + \n" + n1 + "\n é: \n" + (parseInt(x7) + parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 7 - \n" + n1 + "\n é: \n" + (parseInt(x7) - parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 7 * \n" + n1 + "\n é: \n" + (parseInt(x7) * parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 7 / \n" + n1 + "\n é: \n" + (parseInt(x7) / parseInt(n1)));

  document.write("\n", "<br>");

  document.write("O valor de 8 + \n" + n1 + "\n é: \n" + (parseInt(x8) + parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 8 - \n" + n1 + "\n é: \n" + (parseInt(x8) - parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 8 * \n" + n1 + "\n é: \n" + (parseInt(x8) * parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 8 / \n" + n1 + "\n é: \n" + (parseInt(x8) / parseInt(n1)));

  document.write("\n", "<br>");

  document.write("O valor de 9 + \n" + n1 + "\n é: \n" + (parseInt(x9) + parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 9 - \n" + n1 + "\n é: \n" + (parseInt(x9) - parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 9 * \n" + n1 + "\n é: \n" + (parseInt(x9) * parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 9 / \n" + n1 + "\n é: \n" + (parseInt(x9) / parseInt(n1)));

  document.write("\n", "<br>");

  document.write("O valor de 10 + \n" + n1 + "\n é: \n" + (parseInt(x10) + parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 10 - \n" + n1 + "\n é: \n" + (parseInt(x10) - parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 10 * \n" + n1 + "\n é: \n" + (parseInt(x10) * parseInt(n1)) + "\n" + "|" + "\n");

  document.write("O valor de 10 / \n" + n1 + "\n é: \n" + (parseInt(x10) / parseInt(n1)));

  document.write("\n", "<br>");


</script>

</body>
</html>
